.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Form Styling */
.sign-in-form {
  background-color: #f5f5f5;  /* Light grey background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;  /* Creates consistent space between children */
}
.error-message{
  color: red;
}

/* Responsive Settings */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
